* {
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(218, 233, 247);
    font-family:'Times New Roman', Times, serif;
    background-image: url("https://e7.pngegg.com/pngimages/628/799/png-clipart-light-colored-wood-texture-background-wood-texture-wooden-desktop-thumbnail.png");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    color: darkslategray
}
header{
    background:rgb(175, 124, 14);
    color: wheat;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 30px  darkred;
    text-align: center;
    margin: 0px;
    border-bottom-style: solid;
    border-bottom-color: wheat;
    border-bottom-width: 5px;
}

.nav-main{
    font-size: 17px;
    display: flex;
    color: wheat;
    justify-content:space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0px;
}

.nav-main ul li{
    float: left;
    padding: 10px;
    list-style: none;
    color: #fff;
    text-decoration: none;
    }

.iz{
    float: left;
    width: 20%;
    background-color: rgb(255, 184, 51);
    min-height: 250px;
}

nav {
    color: rgb(245, 211, 179);
}

#menu ul li .link{
    list-style: none;
    color:  wheat;
    text-decoration: none;
}

#menu ul li .link:hover{
    background: gray;
    border-radius: 5px, 5px, 0px, 0px;
}

.text-with-shadow{
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
section{
float: left;
margin-bottom: 70px;
width: 70%;
color: rgb(25, 0, 255);
}

aside{
    float: right;
    width: 400px;
    height: 250px;
    margin-left: 50px;
    background-image: url("https://e7.pngegg.com/pngimages/628/799/png-clipart-light-colored-wood-texture-background-wood-texture-wooden-desktop-thumbnail.png");
    
}

footer{
    background-color:rgb(175, 124, 14);
    color: wheat;
	position: fixed;
	width: 100%;
	height: 75px;
	bottom: 0;
	font-style: italic;
    bottom: 0;
    text-align: center;
}
/* styles.css */
.background-container {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* Ajusta la altura al tamaño de la ventana */
}